flows_londostick.json
[{"id":"50510884.720398","type":"tab","label":"cas1","disabled":false,"info":""},{"id":"d5637cd2.c6dfb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f5937ec5.534d2","type":"tab","label":"scenario","disabled":false,"info":""},{"id":"fd1f4fe5.d33c2","type":"tab","label":"Grown Floor","disabled":false,"info":""},{"id":"4c64ca84.85e9a4","type":"tab","label":"test","disabled":false,"info":""},{"id":"f3471878.d5cf28","type":"tab","label":"GROWN_FLOW","disabled":false,"info":""},{"id":"dc10f693.7fe7e8","type":"board-config","z":"","board":"GrovePi"},{"id":"76670e4f.375c1","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"7fc9e503.4d11bc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"be73934c.f9219","type":"ui_group","z":"","name":"Default","tab":"7fc9e503.4d11bc","disp":true,"width":"6","collapse":false},{"id":"9df77cfe.59995","type":"grove digital output","z":"50510884.720398","name":"lampe","board":"dc10f693.7fe7e8","pin":"4","x":510,"y":100,"wires":[]},{"id":"34503d6a.cd0852","type":"grove digital sensor","z":"50510884.720398","name":"b1","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"3","x":50,"y":100,"wires":[["9df77cfe.59995","597ebccf.0514a4"]]},{"id":"f8c901ce.b629b","type":"grove digital sensor","z":"50510884.720398","name":"b2","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"7","x":50,"y":160,"wires":[["fb8d554a.1bcd18","12d00707.d53369"]]},{"id":"fb8d554a.1bcd18","type":"grove digital output","z":"50510884.720398","name":"store","board":"dc10f693.7fe7e8","pin":"4","x":510,"y":160,"wires":[]},{"id":"29239867.2133a8","type":"grove analog sensor","z":"50510884.720398","name":"lum","pin":"0","sensor":"light","repeat":"1","board":"dc10f693.7fe7e8","x":50,"y":220,"wires":[["3d29e0b4.480a1"]]},{"id":"3d29e0b4.480a1","type":"debug","z":"50510884.720398","name":"val","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":310,"y":300,"wires":[]},{"id":"12d00707.d53369","type":"debug","z":"50510884.720398","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":400,"y":240,"wires":[]},{"id":"597ebccf.0514a4","type":"debug","z":"50510884.720398","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":360,"y":40,"wires":[]},{"id":"7e6fae16.50efc","type":"grove analog sensor","z":"50510884.720398","name":"lumi","pin":"0","sensor":"light","repeat":"1","board":"dc10f693.7fe7e8","x":50,"y":280,"wires":[["257e3822.2190c8"]]},{"id":"257e3822.2190c8","type":"debug","z":"50510884.720398","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":260,"y":360,"wires":[]},{"id":"daee28e3.c8bec8","type":"inject","z":"d5637cd2.c6dfb","name":"test","topic":"b1","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["fe344721.805f68"]]},{"id":"b4651178.1c205","type":"debug","z":"d5637cd2.c6dfb","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":410,"y":100,"wires":[]},{"id":"fe344721.805f68","type":"function","z":"d5637cd2.c6dfb","name":"test","func":"if(msg.topic===\"b1\")\n{\nif(msg.payload<10)\nreturn msg;\n}\nif(msg.topic===\"b2\")\n{\n    if(msg.payload<10)\nreturn msg;\n}\nelse{\n    return null;\n}","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["b4651178.1c205"]]},{"id":"212c6f61.cd578","type":"inject","z":"d5637cd2.c6dfb","name":"test","topic":"b2","payload":"11","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":180,"wires":[["fe344721.805f68"]]},{"id":"a28252a1.a3c31","type":"ui_switch","z":"d5637cd2.c6dfb","name":"","label":"switch","tooltip":"","group":"be73934c.f9219","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":80,"y":260,"wires":[["74064512.eb2b4c"]]},{"id":"74064512.eb2b4c","type":"debug","z":"d5637cd2.c6dfb","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":260,"wires":[]},{"id":"dcb72e71.552b6","type":"inject","z":"f5937ec5.534d2","name":"","topic":"Blampe","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["f818502b.38d74","490b5097.5f4a1"]]},{"id":"a5f518f.9f35ee8","type":"inject","z":"f5937ec5.534d2","name":"","topic":"Bstore","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["f818502b.38d74"]]},{"id":"5f7c6713.c96ac8","type":"debug","z":"f5937ec5.534d2","name":"lampe","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":140,"wires":[]},{"id":"34fe380a.629958","type":"debug","z":"f5937ec5.534d2","name":"store","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":590,"y":220,"wires":[]},{"id":"f818502b.38d74","type":"function","z":"f5937ec5.534d2","name":"scenario1","func":"var topic=msg.topic;\nvar m=msg.payload;\nvar msg1={payload:\"true\"};\nif(topic==\"Lumi\")\n{\n    n=m;\n}\nif(topic==\"Bstore\")\n{\n    return[null,msg];\n}\nif((topic==\"Blampe\")&&(n>300))\n\n    {\n        return[null,msg];    \n    }\n    else\n    {\n    return[msg,null];\n}\n\n","outputs":2,"noerr":0,"x":400,"y":180,"wires":[["5f7c6713.c96ac8"],["34fe380a.629958"]]},{"id":"85c39a42.0cf588","type":"inject","z":"f5937ec5.534d2","name":"","topic":"Lumi","payload":"400","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["f818502b.38d74"]]},{"id":"bfdb6acd.3298e8","type":"inject","z":"f5937ec5.534d2","name":"","topic":"Blampe","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["f818502b.38d74","490b5097.5f4a1"]]},{"id":"8de483ee.33f03","type":"inject","z":"f5937ec5.534d2","name":"","topic":"Bstore","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["f818502b.38d74"]]},{"id":"6ab27305.e2204c","type":"debug","z":"f5937ec5.534d2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":610,"y":340,"wires":[]},{"id":"490b5097.5f4a1","type":"function","z":"f5937ec5.534d2","name":"scenario1","func":"var topic=msg.topic;\nif(topic==\"Blampe\")\n{\n        return[msg];    \n    \n}","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["6ab27305.e2204c","7f3bea3c.9b54a4"]]},{"id":"7f3bea3c.9b54a4","type":"debug","z":"f5937ec5.534d2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":610,"y":420,"wires":[]},{"id":"a6917275.23baf","type":"function","z":"fd1f4fe5.d33c2","name":"fumee","func":"var t=msg.topic;\nvar m=msg.payload;\nvar n=\"true\";\nif(t==\"SmokeDetector\")\n{\n    if(m<20)\n    {\n        \n        return [node.send({payload:n}),null];\n    }\n    else\n    {\n        return[null,msg];\n    }\n}","outputs":2,"noerr":0,"x":390,"y":60,"wires":[["8a69b49a.9d77b8"],["2e0a11ec.f2666e"]]},{"id":"8a69b49a.9d77b8","type":"debug","z":"fd1f4fe5.d33c2","name":"Siren","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":20,"wires":[]},{"id":"7a36dcae.21e154","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"SmokeDetector","payload":"30","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":40,"wires":[["a6917275.23baf"]]},{"id":"22e54fad.bc5b2","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Temperature","payload":"40","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[[]]},{"id":"50bb7b73.223214","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Humidite","payload":"32","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[[]]},{"id":"c5fc69e2.9be638","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Opening","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[[]]},{"id":"21bcbb5e.8ce964","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Brightness","payload":"20","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[[]]},{"id":"f3fc189b.3d2358","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Movement","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[[]]},{"id":"ab58b573.e60d08","type":"inject","z":"fd1f4fe5.d33c2","name":"","topic":"Flood","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[[]]},{"id":"afe5d8aa.046b68","type":"function","z":"fd1f4fe5.d33c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":200,"wires":[[]]},{"id":"c1f3dc80.3c668","type":"function","z":"fd1f4fe5.d33c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[[]]},{"id":"3248f6b9.8b41aa","type":"function","z":"fd1f4fe5.d33c2","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":320,"wires":[[]]},{"id":"2e0a11ec.f2666e","type":"debug","z":"fd1f4fe5.d33c2","name":"Eau","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":100,"wires":[]},{"id":"22dcd8d3.1eb998","type":"grove analog sensor","z":"4c64ca84.85e9a4","name":"","pin":"0","sensor":"light","repeat":"1","board":"dc10f693.7fe7e8","x":130,"y":100,"wires":[["fb57d27b.0a2dd"]]},{"id":"fb57d27b.0a2dd","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":340,"y":100,"wires":[]},{"id":"918e5f20.aeb6e","type":"grove analog sensor","z":"4c64ca84.85e9a4","name":"","pin":"1","sensor":"sound","repeat":"1","board":"dc10f693.7fe7e8","x":120,"y":180,"wires":[["ed6e3af9.d6db18"]]},{"id":"ed6e3af9.d6db18","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":180,"wires":[]},{"id":"41cb3e7b.15009","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":240,"wires":[]},{"id":"a38b041e.b922a8","type":"grove analog sensor","z":"4c64ca84.85e9a4","name":"","pin":"2","sensor":"sound","repeat":"1","board":"dc10f693.7fe7e8","x":130,"y":240,"wires":[["41cb3e7b.15009"]]},{"id":"d533c1e4.31119","type":"grove digital sensor","z":"4c64ca84.85e9a4","name":"","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"2","x":90,"y":420,"wires":[["240e4531.14e5ba"]]},{"id":"240e4531.14e5ba","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":420,"wires":[]},{"id":"ffae4664.c479b8","type":"grove digital sensor","z":"4c64ca84.85e9a4","name":"","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"8","x":120,"y":320,"wires":[["39456403.d0208c"]]},{"id":"39456403.d0208c","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":320,"wires":[]},{"id":"b41439bd.1cbcb8","type":"grove digital output","z":"4c64ca84.85e9a4","name":"","board":"dc10f693.7fe7e8","pin":"6","x":360,"y":540,"wires":[]},{"id":"cfade2ac.cd41b","type":"debug","z":"4c64ca84.85e9a4","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":600,"wires":[]},{"id":"4c66b5b1.52802c","type":"grove digital sensor","z":"4c64ca84.85e9a4","name":"","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"3","x":80,"y":580,"wires":[["b41439bd.1cbcb8","cfade2ac.cd41b"]]},{"id":"ec93f8c8.62f3c8","type":"grove digital sensor","z":"f3471878.d5cf28","name":"","board":"dc10f693.7fe7e8","sensor":"button","repeat":"1","pin":"4","x":100,"y":120,"wires":[["35a85346.5b65cc"]]},{"id":"35a85346.5b65cc","type":"grove digital output","z":"f3471878.d5cf28","name":"","board":"dc10f693.7fe7e8","pin":"7","x":360,"y":120,"wires":[]},{"id":"e6af8015.eb1d6","type":"grovepi-led","z":"f3471878.d5cf28","name":"","pin":"6","set":"","x":360,"y":220,"wires":[]},{"id":"1d94d5bd.b466da","type":"grovepi-button","z":"f3471878.d5cf28","name":"","pin":"4","x":110,"y":240,"wires":[["e6af8015.eb1d6"]]}]