flows (3).json
[{"id":"f45887c0.efaa78","type":"tab","label":"Grown floor","disabled":false,"info":""},{"id":"4be27d87.5294a4","type":"grove analog sensor","z":"f45887c0.efaa78","name":"LightSensor","pin":"0","sensor":"light","repeat":"1","board":"73d46dcb.b987e4","x":80,"y":60,"wires":[["b40cbdc6.f1554","f5cc47c8.871458"]]},{"id":"b40cbdc6.f1554","type":"debug","z":"f45887c0.efaa78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":360,"y":60,"wires":[]},{"id":"cd3aba49.400ec8","type":"grove digital sensor","z":"f45887c0.efaa78","name":"ButtonFan","board":"73d46dcb.b987e4","sensor":"button","repeat":"1","pin":"3","x":65,"y":452,"wires":[["d8bdee1a.33546"]]},{"id":"6de7cb7e.de7644","type":"grove digital sensor","z":"f45887c0.efaa78","name":"ButtonRgb","board":"73d46dcb.b987e4","sensor":"button","repeat":"1","pin":"4","x":60,"y":280,"wires":[["c849e2c7.a7d7d"]]},{"id":"c849e2c7.a7d7d","type":"switch","z":"f45887c0.efaa78","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":280,"wires":[["61ced047.d0399","ae0c809c.135e7"],["61ced047.d0399"]]},{"id":"61ced047.d0399","type":"trigger","z":"f45887c0.efaa78","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"10","extend":false,"units":"s","reset":"true","bytopic":"all","name":"trigger","x":410,"y":340,"wires":[["893a34a0.984218"]]},{"id":"893a34a0.984218","type":"grove digital output","z":"f45887c0.efaa78","name":"LedRgb","board":"73d46dcb.b987e4","pin":"7","x":600,"y":340,"wires":[]},{"id":"7e9c1454.dbf0fc","type":"grove analog sensor","z":"f45887c0.efaa78","name":"TemperatureSensor","pin":"1","sensor":"light","repeat":"1","board":"73d46dcb.b987e4","x":100,"y":592,"wires":[["efe81602.7e0388"]]},{"id":"87bb79d.777ac88","type":"debug","z":"f45887c0.efaa78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":570,"y":600,"wires":[]},{"id":"64d1d2ff.a3d32c","type":"grove analog sensor","z":"f45887c0.efaa78","name":"Moisture","pin":"2","sensor":"light","repeat":"1","board":"73d46dcb.b987e4","x":70,"y":672,"wires":[[]]},{"id":"2f7ccd47.cb3962","type":"grove digital output","z":"f45887c0.efaa78","name":"Store","board":"73d46dcb.b987e4","pin":"2","x":415,"y":412,"wires":[]},{"id":"d1007d2d.7608f","type":"grove digital output","z":"f45887c0.efaa78","name":"Store","board":"73d46dcb.b987e4","pin":"2","x":575,"y":512,"wires":[]},{"id":"36047aec.b2c456","type":"trigger","z":"f45887c0.efaa78","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"14","extend":false,"units":"s","reset":"true","bytopic":"all","name":"trigger","x":415,"y":512,"wires":[["d1007d2d.7608f","f1962c44.f6dd4"]]},{"id":"d8bdee1a.33546","type":"switch","z":"f45887c0.efaa78","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":235,"y":452,"wires":[["2f7ccd47.cb3962","36047aec.b2c456"],["36047aec.b2c456"]]},{"id":"f1962c44.f6dd4","type":"debug","z":"f45887c0.efaa78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":460,"wires":[]},{"id":"cb243770.234da8","type":"grove digital sensor","z":"f45887c0.efaa78","name":"Pir","board":"73d46dcb.b987e4","sensor":"button","repeat":"1","pin":"8","x":60,"y":160,"wires":[[]]},{"id":"f5cc47c8.871458","type":"function","z":"f45887c0.efaa78","name":"FnLightSensor","func":"var m=msg.payload;\nvar t=true;\nvar f=false;\nif(m>400)\n{\n    return node.send({payload:t});\n}\nelse\n{\n    return node.send({payload:f});\n}\n","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["ae0c809c.135e7"]]},{"id":"62a594e4.34ae7c","type":"grove digital output","z":"f45887c0.efaa78","name":"Store","board":"73d46dcb.b987e4","pin":"2","x":750,"y":100,"wires":[]},{"id":"46f16e9c.d4f73","type":"grove digital output","z":"f45887c0.efaa78","name":"LedRgb","board":"73d46dcb.b987e4","pin":"7","x":760,"y":160,"wires":[]},{"id":"5aeeb350.3f8eac","type":"switch","z":"f45887c0.efaa78","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"truetrue","vt":"str"},{"t":"eq","v":"falsetrue","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":180,"wires":[["3db07cff.501a44","d9f3632e.35ddf","894052b2.049c3"],["894052b2.049c3"]]},{"id":"3db07cff.501a44","type":"trigger","z":"f45887c0.efaa78","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"trigger","x":610,"y":100,"wires":[["62a594e4.34ae7c"]]},{"id":"d9f3632e.35ddf","type":"trigger","z":"f45887c0.efaa78","op1":"false","op2":"false","op1type":"bool","op2type":"bool","duration":"30","extend":false,"units":"s","reset":"","bytopic":"all","name":"trigger","x":610,"y":160,"wires":[["46f16e9c.d4f73"]]},{"id":"894052b2.049c3","type":"trigger","z":"f45887c0.efaa78","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":false,"units":"s","reset":"true","bytopic":"all","name":"trigger","x":610,"y":240,"wires":[["e25afb32.992028"]]},{"id":"e25afb32.992028","type":"grove digital output","z":"f45887c0.efaa78","name":"LedRgb","board":"73d46dcb.b987e4","pin":"7","x":780,"y":240,"wires":[]},{"id":"ae0c809c.135e7","type":"join","z":"f45887c0.efaa78","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":220,"wires":[["cb474a1e.eeaa18","5aeeb350.3f8eac"]]},{"id":"cb474a1e.eeaa18","type":"debug","z":"f45887c0.efaa78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":430,"y":100,"wires":[]},{"id":"efe81602.7e0388","type":"function","z":"f45887c0.efaa78","name":"FnLightSensor","func":"var m=msg.payload;\nvar t=\"ouvrir\";\nvar f=\"ferme\";\nif(m>400)\n{\n    return node.send({payload:t});\n}\nelse\n{\n    return node.send({payload:f});\n}\n","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["87bb79d.777ac88"]]},{"id":"26a3d97c.97fd86","type":"grove digital sensor","z":"f45887c0.efaa78","name":"HallSensor","board":"73d46dcb.b987e4","sensor":"button","repeat":"1","pin":"6","x":50,"y":800,"wires":[["79db7705.51c278"]]},{"id":"79db7705.51c278","type":"debug","z":"f45887c0.efaa78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":390,"y":800,"wires":[]},{"id":"73d46dcb.b987e4","type":"board-config","z":"","board":"GrovePi"}]